.body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blueviolet;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: 50%;
    height: auto;
}