.button-add {
    background-color: rgb(205, 166, 241);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container-card {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.body{
    background-color: rgb(206, 56, 56);
}